@reference "@/styles/global.css";

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.primary-bg-color {
  @apply bg-[#bf3419];
}

.primary-text-color {
  @apply text-[#bf3419];
}

.secondary-text-color {
  @apply text-gray-500;
}

.button-navbar {
  @apply relative overflow-hidden h-[40px] cursor-pointer; 
}

.button-primary {
  @apply font-medium flex items-center gap-x-3 bg-[#bf3419] text-white 
          px-3 py-2 rounded-lg text-sm cursor-pointer; 
}

.button-secondary {
  @apply font-medium flex items-center gap-x-3 outline outline-[#bf3419]
        text-[#bf3419] px-3 py-2.5 rounded-lg text-sm sm:text-base cursor-pointer;
}

.text-hero-content {
  @apply text-[clamp(30px,7vw,80px)] lg:text-[70px] font-bold leading-[1.2]
         lg:text-[clamp(50px,calc(50px+20*((100vw-1024px)/896)),70px)];
}

